/* default */
/* ----------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  margin: 0;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px gray;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;
  color: #666;
  margin-top: 10px;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

/* navbar */
/* ----------------------------------------------------------------------------------- */

.navbar {
  background: #ff6;
  opacity: 0.95;

  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.navbar-nav>li>a {
  color: #d9dbda;
}

.navbar-nav>li>a:hover {
  color: #979797;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #979797;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 900;
  color: #2f2f2f;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #666;
}


/* avatar */
/* ----------------------------------------------------------------------------------- */

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  padding: 30px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main */
/* ----------------------------------------------------------------------------------- */
#main {
  background: #d3d3d3;
  background: #ff6;
  padding-top: 60px;
}

#main h1 {
  font-size: 3.7em;
  font-weight: 300;
  line-height: 1;
  color: #444;
}

#main h3 {
  font-size: 2em;
  font-weight: 900;
  color: #444;
  line-height: 1;
}


/* project image shadow */
/* ----------------------------------------------------------------------------------- */

img {
  height: auto;
  max-width: 100%;
}

.img-wrap {
  margin: 0;
  max-width: 400px;
  position: relative;
}

.image {
  display: block;
  position: relative;
  z-index: 2;
  margin-top: 20PX;
}

.shadow {
  bottom: -30px;
  filter: blur(20px);     /* this is the magic part */
  height: 100%;
  left: 0;
  position: absolute;
  transform: scale(0.95);
  width: 100%;
  z-index: 1;
  margin-top: 20PX;
}

/* faq */
/* ----------------------------------------------------------------------------------- */
#faq {
  margin-top: 50px;
  padding-top: 56px;
  padding-bottom: 30px;
  background: #3a3a3a;
  color: #999;
}

#faq input {
  font-size: 18px;
  min-height: 40px;
  border-radius: 0px;
  line-height: 20px;
  padding: 11px 30px 12px;
  border: 2px solid #e9f0f2;
  margin-bottom: 10px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#faq .subscribe-input {
  float: left;
  width: 70%;
  text-align: left;
  margin-right: 2px;
}

#faq .subscribe-submit {
  right: 0;
}

/* contact */
/* ----------------------------------------------------------------------------------- */

#contact {
  padding: 40px 0;
}

#contact h2 {
  margin-bottom: 20px;
}

.contact-form label {
  color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #fff;
  border: 0;
  padding: 12px 30px;
  color: #111;
  transition: 0.4s;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #111;
}

.contact-form .form-send button:hover {
  background: #ff6;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}


/* social */
/* ----------------------------------------------------------------------------------- */

.fab {
  color: #3a3a3a;
}

.fab:hover {
  color: #999;
}


/* copyrights */
/* ----------------------------------------------------------------------------------- */

#copyrights {
  background:#3a3a3a;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}

#copyrights a {
  color: #ff6;
}

.credits {
  color: #999;
}